@media(min-width:600px){
    .top_navbar{
    box-shadow: 0px 0px 15px gray !important;
    }
    
    #top_action_section{
        display: flex !important;
        align-items: center !important;
    }
}
.user_list_item.active .user_list_arrow_icon{
    transform: rotate(180deg);
}
.user_list_item.active, .user_list_item.active .collapsible-header{
    background-color: rgba(129, 129, 129, 0.2);
}
table.highlight > tbody > tr:hover {
  background-color: #ffff8d;
}
.add_user_modal_back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 99;
}
.add_user_modal{
    position: fixed;
    height: 70vh;
    background-color: white;
    bottom: 0;
    z-index: 100;
    border-radius: 10px;
    left: 0;
    right: 0;
    bottom: -70vh;
}
.add_user_modal.show{
    box-shadow: 0px 0px 10px gray;
    bottom: 0;
}